# Telegram API配置
API_ID=21812187
API_HASH=1721026f3d4245ab19051189609fe5a1
BOT_TOKEN=8439453123:AAHJB40ptWIqKeOSnMGWs1ysEWXKq68PcD8
PHONE_NUMBER=+8613081860942
ADMIN_USER_IDS=[6478767200]

# 代理配置
ENABLE_PROXY=true
PROXY_TYPE=http
PROXY_HOST=192.168.31.6
PROXY_PORT=7890
PROXY_USERNAME=

# 日志管理配置
ENABLE_LOG_CLEANUP=false
LOG_RETENTION_DAYS=30
LOG_CLEANUP_TIME=02:00
MAX_LOG_SIZE=100
